<h1>NotificationAdmin -- room_confirmation</h1>
<h1> <%= @room.user.username %> </h1>
<p>
  Confirm  <%= @room.user.username %> room! its vinyas... dont add it spam<br>
  Room <%= @room.name %><br>
  price <%= @room.price %><br>
  address<%= @room.address %><br>
</p>
