<p id="notice"><%= notice %></p>

<p>
  <strong>Start Date:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @booking.end_date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
