<p id="notice"><%= notice %></p>
<% if can? :my_rooms , Room.new %>
  <%= link_to("my_rooms", rooms_my_rooms_path) %>
<% end %>
<% if can? :read , Room.new %>
  <h1>Listing Authorized Rooms</h1>

    <table class="table ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Rules</th>
          <th>Minimum_days</th>
          <th>City</th>
          <th>Address</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>username</th>
          <th>Authorized</th>
          <% if can? :update, Room.new %>
            <th>Authorize</th>
            <th>Edit</th>
            <th>Destroy</th>
          <% end %>
          <!-- <th colspan="3"></th> -->
        </tr>
      </thead>

      <tbody>
        <% @room_authorized.each do |room| %>
          <tr>
            <td><%= link_to room.name, room %></td>
            <td><%= room.description  %></td>
            <td><%= room.price %></td>
            <td><%= room.rules %></td>
            <td><%= room.minimum_days%></td>
            <td><%= room.city_id%></td>
            <td><%= room.address %></td>
            <td><%= room.latitude %></td>
            <td><%= room.longitude %></td>
            <td><%= room.user.username%></td>
            <td><%= room.is_authorized %></td>
            <% if can? :update , Room.new %>
              <td><%= form_for(room) do |f| %>
                    <%= f.hidden_field :is_authorized %>
                    <%= f.submit "Unauthorize Room" %>
                  <% end %>
              </td>
            <% end %>
            <% if can? :update , Room.new %>
              <td><%= link_to 'Edit', edit_room_path(room) %></td>
            <% end %>
            <% if can? :destroy ,Room.new%>
            <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<% if can? :create ,Room.new %>
  <%= link_to 'New room', new_room_path %>
<% end %>

<% if can? :update ,Room.new  %>
  <h1>Listing Unauthorized Room</h1>

  <table class="table ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Rules</th>
        <th>Minimum_days</th>
        <th>City</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>username</th>
        <th>Authorized</th>
        <% if can? :update , Room.new %>
          <th>Authorize</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @room_unauthorized.each do |room| %>
        <tr>
          <td><%=link_to room.name,room %></td>
          <td><%= room.description  %></td>
          <td><%= room.price %></td>
          <td><%= room.rules %></td>
          <td><%= room.minimum_days%></td>
          <td><%= room.city_id%></td>
          <td><%= room.address %></td>
          <td><%= room.latitude %></td>
          <td><%= room.longitude %></td>
          <td><%= room.user.username%></td>
          <td><%= room.is_authorized %></td>
          <% if can? :update ,Room.new %>
            <td><%= form_for(room) do |f| %>
                  <%= f.hidden_field :is_authorized,:value => true%>
                  <%= f.submit "Authorize Room" %></td>
                <% end %>
          <% end %>  
          <td><%= link_to 'Edit', edit_room_path(room) %></td>
          <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
