<div class="container">
<div class="row">
    <div class="col-lg-6">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @room.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @room.description %>
      </p>

      <p>
        <strong>price:</strong>
        <%= @room.price %>
      </p>

      <p>
        <strong>Rules:</strong>
        <%= @room.rules %>
      </p>

      <p>
        <strong>Minimum_days:</strong>
        <%= @room.minimum_days %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @room.address %>
      </p>

      <p>
        <strong>Latitude:</strong>
        <%= @room.latitude %>
      </p>

      <p>
        <strong>Longitude:</strong>
        <%= @room.longitude %>
      </p>

      <p>
        <strong>Image:</strong>
        <% @room.images.each do |r| %>
          <%= image_tag r.image %>
        <% end %>
        <%#= image_tag @room.images.image %>
      </p>

      <p>
        <strong>is_authorized:</strong>
        <%= @room.is_authorized %>
      </p>
      <div>
        <h3>Book Room</h3>
        <%#= render './bookings/form' %>
        <%= form_for(@booking) do |f| %>
          <% if @booking.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

              <ul>
              <% @booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label :start_date%><br>
            <%= f.date_field :start_date,id: "from" %>
            
          </div>
          <div class="field">
            <%= f.label :end_date %><br>
            <%= f.date_field :end_date ,id: "to" %>
          </div>
          <div class="field">
            <%= f.label :amount %><br>
            <%= f.number_field :amount %>
          </div>
          <div class="field">
            <%= f.label :confirm %>
            <%= f.check_box :is_confirmed %>
          </div>
          <%=f.hidden_field :room_id , value: @room.id %>
          <div class="actions">
            <%= f.submit "submit", id: "submit", class: "btn btn-info"%>
          </div>
        <% end %>
      </div>
      <% if can? :update, Room.new %>
        <%= link_to 'Edit', edit_room_path(@room) %> |
      <% end %>
      <%= link_to 'Back', rooms_path %>
    </div>
    <div class="col-lg-6">
        <iframe width="600" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCYFVYJF-LwXd7IZ0kpN9Ine9o7rrHRQXQ
    &q=<%= @room.latitude %>,<%= @room.longitude %>" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          minDate: 0,
          dateFormat: 'yy-mm-dd',
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        minDate: 0,
        dateFormat: 'yy-mm-dd',
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  
  </script> -->