<p id="notice"><%= notice %></p>

<h1>Listing Roles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%=link_to role.name,role %></td>
        <% if can? :read, Role.new %>
          <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <% end %>
        <% if can? :destroy, Role.new %>
          <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Role.new %>
  <%= link_to 'New Role', new_role_path %>
<% end %>