<!DOCTYPE html>
<html>
<head>
  <title>Rent2guest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
  <!--  -->
            </div>
            <div class="col-md-6">
                <div class="social-grid">
                    <ul class="list-unstyled text-right">
                        <li><a><i class="fa fa-facebook"></i></a></li>
                        <li><a><i class="fa fa-twitter"></i></a></li>
                        <li><a><i class="fa fa-linkedin"></i></a></li>
                        <li><a><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <header class="header-container">
    <div class="container">
        <div class="top-row">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div id="logo">
                        <!--<a href="index.html"><img src="images/logo.png" alt="logo"></a>-->
                        <a href="index.html"><span>vacay</span>home</a>
                    </div>                       
                </div>
                <div class="col-sm-6 visible-sm">
                    <div class="text-right"><button type="button" class="book-now-btn">Book Now</button></div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header page-scroll">
                            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                            <ul class="list-unstyled nav1 cl-effect-10">
                                <li><a  data-hover="Home" class="active"><span>Home</span></a></li>
                                <li><a data-hover="About"  href="about.html"><span>About</span></a></li>
                                <li><a data-hover="Rooms"  href="rooms.html"><span>Rooms</span></a></li>
                                <li><a data-hover="Gallery"  href="gallery.html"><span>Gallery</span></a></li>
                                <li><a data-hover="Dinning" href="dinning.html"><span>Dinning</span></a></li>
                                <li><a data-hover="News" href="news.html"><span>News</span></a></li>
                                <li><a data-hover="Contact Us" href="contact.html"><span>contact Us</span></a></li>
                            </ul>

                        </div>
                    </nav>
                </div>
                <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
                    <div class="text-right"><button type="button" class="book-now-btn">Book Now</button></div>
                </div>
            </div>
        </div>
    </div>
  </header>
    <div id="myCarousel1" class="carousel slide" data-ride="carousel"> 
      <!-- Indicators -->

      <ol class="carousel-indicators">
          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel1" data-slide-to="1"></li>
          <li data-target="#myCarousel1" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active"> <%= image_tag "banner.png", style: "width:100%; height: 500px" ,alt: "First slide"%>
              <div class="carousel-caption">
                  <h1>vacayhome<br> spa & Resort</h1>
              </div>
          </div>
          <div class="item"> <%= image_tag "banner2.png" ,style:"width:100%; height: 500px" ,alt:"Second slide"%>
              <div class="carousel-caption">
                  <h1>vacayhome<br> spa & Resort</h1>
              </div>
          </div>
          <div class="item"> <%= image_tag "banner3.png" ,style:"width:100%; height: 500px" ,alt:"Third slide" %>
              <div class="carousel-caption">
                  <h1>vacayhome<br> spa & Resort</h1>
              </div>
          </div>

      </div>
      <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <%= image_tag "left-arrow.png",onmouseover: "this.src: 'left-arrow-hover.png'", onmouseout:"this.src: 'images/icons/left-arrow.png'", alt:"left" %></a>
      <a class="right carousel-control" href="#myCarousel1" data-slide="next"> <%= image_tag "right-arrow.png", onmouseover: "this.src: 'right-arrow-hover.png'", onmouseout: "this.src: 'right-arrow.png'" ,alt: "left"%></a>

  </div>
</div>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
</body>
</html>
